snippet trans
	transition: all ${1:0.25}s ease;
	-moz-transition: all $1s ease;
	-webkit-transition: all $1s ease;
	-o-transition: all $1s ease;
snippet bxsdw
	box-shadow: 1px 0px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 1px 0px 5px rgba(0,0,0,0.4);
    -webkit-box-shadow: 1px 0px 5px rgba(0,0,0,0.4);
    -o-box-shadow: 5px 0px 0px rgba(0,0,0,0.4);
    -ms-box-shadow: 5px 5px 0px rgba(0,0,0,0.4);
snippet bdrs
	border-radius: ${1:7px};
	-webkit-border-radius: $1;
	-moz-border-radius: $1;
